* {
    box-sizing: border-box;
}

:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    --padding-right-panel: 0px 32px;
}

body {
    height: 100vh;
    margin: 0px; 
    display: flex;
}

.left-body {
    background-image: url('images/river-plate.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 35vw;

}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65vw;
    background-color:#1F1F1F;
}

.right-container > p {
    padding: var(--padding-right-panel);
}

.left-container {
    position: relative;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}


.left-container-logo {
    height: 55px;
    width: 45px;
}

.left-container-text {
    margin-left: 5px;
    font-size: clamp(16px, 2vw, 48px);
}

.form-container {
    background-color: white;
    color: black;
    padding: var(--padding-right-panel);
    padding-top: 8px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.4); 
}

button {
    padding: 12px 32px;
    border-radius: 5px;
    margin-left: 32px;
    font-weight: bold;
    color: white;
    background-color: #F20000;
    border: 1px solid #F20000;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #F20000;
    border-color: #F20000;
}

.form-input-container {
    display: flex;
    flex-wrap: wrap;
    padding-right: 35%;
}

a {
    text-decoration: none;
    color: #F20000;
    font-weight: bold;
}

.form-input-container > div {
    flex: 0 0 50%;
    padding-right: 5px;
    width: 100%;
    margin-bottom: 5px;
}

label {
    font-size: 16px;
}

input {
    width: 100%;
    padding: 8px 5px;
    margin: 0px;
    outline: none;
    border: 1px solid rgba(118, 118, 118, 0.3);
    border-radius: 2px;
    box-sizing: border-box;
}

input:focus {
    box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.4); 
    border-width: 1px;
}

input:focus-visible {
    border-width: 1px;
}

.form-error {
    display: block;
    font-size: 10px;
    color: red;
    visibility: hidden;
}

input#password:invalid:not(:placeholder-shown) ~.form-error{
    visibility: visible;
}

.invalid-input {
    border-color: red;
}

input:invalid:not(:placeholder-shown) {
    border-color: red;
}

.right-container-header {
    font-weight: bold;
    font-size: 24px;
}